<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W3D6 - Shopping Cart</title>
</head>
<body>
    <%- include('header.ejs') %>
    <ul>
        <% for (let product of products) { %>
            <li>
                <fieldset>
                    <!-- TODO: get product from id on controller -->
                    <legend><a href=<%= "/product?id=" + product.id %>>Product <%= product.id %></a></legend>
                    <dl>
                        <dt>Name</dt>
                        <dd><%= product.name %></dd>
                        <dt>Price</dt>
                        <dd><%= product.price %></dd>
                        <dt>Quantity</dt>
                        <dd><%= product.quantity %></dd>
                    </dl>
                </fieldset>
            </li>
        <% } %>
        <br/>
    </ul>
</body>
</html>
