<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W4D1 - Product</title>
</head>
<body>
    <%- include('header.ejs') %>
    <form action="/addToCart" method="post">
        <input id="id" name="id" type="hidden" value=<%= id %>>
        <input id="name" name="name" type="hidden" value=<%= name %>>
        <input id="price" name="price" type="hidden" value=<%= price %>>
        <h4>Product: <%= name %></h4>
        <h5>Price: <%= price %></h5>
        <label for="qty">Quantity</label>
        <input id="qty" name="qty" type="number" value='1'>
        <button type="submit">Add to Cart</button>
    </form>
</body>
</html>
